@model SwEngHomework.WebApp.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center"">
    <h3 class="display-4">Hello and Welcome!</h3>
    <p>Welcome to the WebApp portion of the homework assignment.  For directions, please consult the README.md</p>
    <hr /> 
    
    <div>
        <h4> <i>@Model.CurrentDate</i> </h4>
    </div>

    <i><a href="/Other/EvenMinute">Other Even Minute</a></i>

    <hr />
    <div>
        Thank you for very much for taking the time to complete this part of the homework assignment!
    </div>
</div>
